<!--
 CS7025 Programming for Digital Media 2018-19 
 Elena Artz
 Project No. 2: An Image Sharing Application 
 Project2 Upload -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Upload Images</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/layout.css">
  </head>
  <body>
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="/"> <span class="glyphicon glyphicon-camera"></span> Gallery</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              </ul>
          </div>
      </nav>

      <div class= "container">
        <h3><%=username%>, add an image here!</h3>
        <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <div class="input-group mb-3">
        		<div class="input-group-prepend">
        			<label for="textImage"> Give your Image a Title:</label>
         			<div class="input-group">
        				<span class="input-group-addon"><i class="fa fa-picture-o fa-fw"></i></span>
        				<input class="form-control"  class="custom-file-input" id="textImage" placeholder="Give your image a title" name="imageTitle" required>
      			</div>
       	   </div>
       	   <br/>
       	  
       	   <div class="custom-file">
       	   		<label class="custom-file-label" for="customFile"><span><i class="glyphicon glyphicon-folder-open"></i> </span>  Choose file</label>
        			<input type="file" class="custom-file-input" id="customFile" accept="image/png, image/jpeg, image/gif" name="profileImage"/>
        		</div>	
       </div>			
      <br/>
      	<button type="submit" class="btn btn-primary start">
          <i class="glyphicon glyphicon-upload"></i> 
          <span> Start upload</span>
        </button>
      </form>
      </div>
      <footer id="footer">My Photo Booth</footer>
  </body>
</html>

